.modalOverlay {
	position: fixed;
	display: flex;
	width: 400px;
	bottom: 17%;
	right: 0;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modalContent {
	background: #fff;
	border-radius: 10px;
	width: 90%;
	max-width: 400px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.header {
	background: #e96730;
	color: #fff;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.header > p {
	font-size: 10px;
}

.title {
	font-size: 1.2rem;
	font-weight: 600;
}

.chatWindow {
	min-height: 300px;
	max-height: 500px;
	overflow-y: auto;
	background: #f5f5f5;
	padding: 10px;
}

.inputContainer {
	display: flex;
	align-items: center;
	border-top: 1px solid #ddd;
	padding: 10px;
	background: #fff;
}

.input {
	flex: 1;
	border: none;
	padding: 10px;
	border-radius: 20px;
	background: #f0f0f0;
	margin-right: 10px;
}

.input::placeholder {
	color: #aaa;
}

.sendButton {
	border: none;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.floatingButton {
	position: fixed;
	bottom: 50px;
	right: 50px;
	background: #f6741e;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	color: white;
	padding: 10px;
	cursor: pointer;
	box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.6);
	z-index: 1001;
	transition: ease-in-out 0.2s;
}

.floatingButton:hover {
	scale: 120%;
}

.floatingIcon {
	height: 100%;
	object-fit: contain;
}
