.header {
	.menu {
		display: block;
		border: 1px red solid;
	}
}
.div-sc-1-kcjt-6-g-1 {
	.div2 {
		background-color: blue;
	}
}

.video-background {
	position: relative;
	width: 100%;
	height: 50vh; /* 或者根據您的需求調整高度 */
	overflow: hidden;
}

.video-background video {
	width: 100%;
	height: 80%;
	object-fit: cover; /* 這會確保影片覆蓋整個區塊 */
}

.content {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white; /* 根據您的設計調整文字顏色 */
}

.background-video {
	background-image: url('/public/video/design01.mp4');
	width: 100%;
	height: 100%;
	background-size: cover;
	zindex: 50;
}
